<footer class="border-t border-slate-200 bg-white mt-10">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-6">
    <!-- Bloc gauche -->
    <div class="space-y-2">
      <div class="flex items-center">
        <img src="assets/logo-vera-noir.png" alt="Vera" class="h-32 w-auto" />
      </div>
      <p class="max-w-sm font-fustat text-[16px]">
        Vera vérifie chaque information et vous fournit des sources fiables.
      </p>
      <div class="flex flex-wrap gap-4 mt-2">
        <a routerLink="/mention-legale" class="underline text-xs font-fustat">Mention légale</a>
        <a routerLink="/politique-confidentialite" class="underline text-xs font-fustat"
          >Politique de confidentialité</a
        >
      </div>
    </div>

    <!-- Bloc droite -->
    <div class="flex flex-col items-end gap-1 text-right">
      <button type="button" class="text-xs hover:underline">Aide</button>
      <button type="button" class="text-xs hover:underline">FAQ</button>
    </div>
  </div>
</footer>
