.dashboard {
  padding: 24px;
}
.chart {
  width: 100%;
  height: 100%;
  max-width: 900px;
}
.h-72 {
  height: 18rem;
}
/* Hauteur du graphique responsive */
.chart-container {
  height: 260px; /* mobile */
}

@media (min-width: 640px) {
  .chart-container {
    height: 320px; /* tablette */
  }
}

@media (min-width: 1024px) {
  .chart-container {
    height: 380px; /* desktop */
  }
}
